.message {
  color: #000;
  font-size: 40;
  horizontal-align: center;
  padding:20;
}

button{
    horizontal-align: center;
}


.material-icons {
   font-family: MaterialIcons-Regular, Material Icons;
}

.playBtn {
    background-color: #3F51B5;
    color: #fff;
}

.whiteBtn {
    background-color: #fff;
    color: #333;
}

.center {
    horizontal-align: center;
}

.white {
    color: #fff;
}
.gray {
    color: #888;
}
.blue {
    color: #9FA8DA;
}


.font20 {
    font-size: 20;
}
.font28 {
    font-size: 28;
}
.font40{
    font-size: 40;
}
.font50{
    font-size: 50;
}
